<h1>Say#goodnight</h1>
<p>Find me in app/views/say/goodnight.html.erb</p>
<p>@time instance variable not defined in goodnight class in say controller.</p>

<p><%= say_goodnight('Yamen') %></p>

<p>Go to <a href="/say/hello">hello</a> page</p>
<p>Time to say <%= link_to "hello", say_hello_path %></p>

